/application/target
/application-springboot/target
/terraform-application/terraform.tfstate
/terraform-application/terraform.tfstate.backup
/terraform-consul/terraform.tfstate
/terraform-consul/terraform.tfstate.backup
/terraform-vault/terraform.tfstate
/terraform-vault/terraform.tfstate.backup

*/build-hidden.sh

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
